.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.custom-checkbox .checkmark {
  width: 24px;
  height: 24px;
  border: 2px solid #d7dde9;
  background-color: #fff;
  border-radius: 3px;
  transition: background-color 0.2s, border-color 0.2s;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #a0dcf6;
  border-color: #0796d3;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  color: #0796d3;
  transform: translate(-50%, -50%);
}
